#s1{
    background-color: rgba(197, 212, 222, 0.918);
    font-size: x-large;
    font-style: italic;
    padding-right: 90px;   
    display: block;
    width:300px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
     text-transform: lowercase;
}
.c1{
    width:300px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
#j9{
    text-align: center;
    color: rgb(108, 47, 75);
    background-color: rgba(174, 170, 192, 0.737);
    padding-right:100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 90px;
}
body{
    background-color: rgb(31, 28, 28);
    background-image: url("https://media0.giphy.com/media/l2QDMVwaUjnxy0Ela/source.gif");
}